.input-container {
  margin-bottom: 15px;
}

.input-label {
  color: $colorGray;
  display: block;
  font-feature-settings: 'salt' on;
  font-family: Lexend;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  overflow: hidden;
  width: 100%;
  max-width: 376px;
  margin-bottom: 4px;
}

.input-field {
  width: 100%;
  max-width: 376px;
  height: 48px;
  align-self: stretch;
  border: 1px solid $colorGrayLight;
  padding: 12px 16px;
  font-feature-settings: 'salt' on;
  font-family: Lexend;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  &::placeholder {
    color: $colorGrayMiddle;
  }

  &:focus {
    border: 1px solid $colorPurple;
    outline: none;
  }

  // &:valid {
  //   border: 1px solid $colorGray;
  //   outline: none;
  // }
}
