.form-description {
  color: $colorGray;
  font-feature-settings: 'salt' on;
  font-family: Lexend;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  width: 100%;
  max-width: 376px;
}
