.checkbox-container {
  display: flex;
  column-gap: 16px;
  align-items: center;
}

.checkbox-label {
  color: $colorGray;
  font-feature-settings: 'dlig' on, 'salt' on;
  font-family: Lexend;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.checkbox-input {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
