* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
  font-family: Lexend;
}

.form-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 44px;

  .logo-icon {
    width: 79px;
    height: 80px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 32px;
  }
}
