@font-face {
  font-family: "Lexend";
  src: url("../assets/fonts/lexend/Lexend-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("../assets/fonts/lexend/Lexend-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("../assets/fonts/lexend/Lexend-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
