.form-button {
  display: flex;
  width: 376px;
  height: 56px;
  padding: 16px 0px;
  justify-content: center;
  align-items: center;
  background-color: $colorPurple;
  color:$colorWhite;
  text-align: center;
  font-feature-settings: 'salt' on;
  font-family: Lexend;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
  transition: .3s;
  cursor: pointer;

  &:hover {
    background: rgba($color: $colorPurple, $alpha: 0.8);
  }
}
