.form-title {
  color: $colorBlack;
  text-align: center;
  font-feature-settings: 'salt' on;
  font-family: Lexend;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  width: 100%;
  max-width: 376px;
  overflow: hidden;
}
